<div class="container-fluid bg-cadastro ">
  <div class="row d-flex  ">
    <div class="col-md-6 ">
      <div class=" d-none d-lg-block ">
        <div class="row p-0 m-0">
          <img src="../../assets/img/Estudante.svg" alt="" class="img-fluid" /> 
        </div>
      </div>
    </div>

    <div class="form"><p><strong>Venha fazer parte do futuro da educação</strong></p>
      <form action="https://api.staticforms.xyz/submit" method="POST" class="card"> 
        <input type="hidden" name="accessKey" value="e6f1bc2b-1259-436e-911e-579510b8400e">
        <input type="hidden" name="redirectTo" value=""><!-- Link do projeto dentro do value=""-->

        <label for="inputNome">Nome:</label>
        <br>
        <input type="text" id="inputNome" name="$nome">
        <br>
        <span></span>
        
        <label for="inputEmail">Email:</label>
        <br>
        <input type="text" id="inputEmail" name="$email">
        <br>
        <span></span>

        <label for="inputFoto">Link da Foto:</label>
        <br>
        <input type="text" id="inputFoto" name="$foto">
        <br>
        <span></span>

        <label for="inputSenha">Senha:</label>
        <br>
        <input type="password" id="inputSenha" name="$senha">
        <br>
        <span></span>

        <label for="inputConfirmaSenha">Confirma Senha:</label>
        <br>
        <input type="password" id="inputSenha" name="$senha">
        <br>
        <span></span>

        <label for="textAreaInformações">Mais informações:</label>
        <br>
        <textarea name="$Informações" id="textAreaInformações" cols="50" rows="10"></textarea>
        <br>
        <span></span>
        <br>
        <button>Enviar</button><!-- fazer alert "avisando que o cadastro foi enviado"-->
        <br>
        <br>
      </form>
    </div>
  </div>
</div>