<div class="container">

<div class="introduction1 d-flex justify-content-center mt-4">
  <h2 class="text-center">1º Ano</h2><br>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-md-3 d-flex justify-content-center" *ngFor="let item of listaTemas1">

    <div class="card bg-fundo mt-4" style="width: 95vh">
      <a [routerLink]="['/videopage', item.id]">
      <div class="card-header bg-color text-white text-center">{{item.materia}}</div>
      <div class="card-body text-center">
        <p class="card-title">{{item.descricao}}</p>
      </div>
    </a>
</div>
</div>
</div>

<div class="introduction2 d-flex justify-content-center mt-5">
  <h2 class="text-center">2º Ano</h2><br>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-md-3 d-flex justify-content-center" *ngFor="let item of listaTemas2">

    <div class="card bg-fundo mt-4" style="width: 95vh">
      <a [routerLink]="['/videopage', item.id]">
      <div class="card-header bg-color2 text-white text-center">{{item.materia}}</div>
      <div class="card-body text-center">
        <p class="card-title">{{item.descricao}}</p>
      </div>
    </a>
</div>
</div>
</div>

<div class="introduction3 d-flex justify-content-center mt-5">
  <h2 class="text-center">3º Ano</h2><br>
</div>

<div class="row d-flex justify-content-center">
  <div class="col-md-3 d-flex justify-content-center" *ngFor="let item of listaTemas3">

    <div class="card bg-fundo mt-4" style="width: 95vh;">
      <a [routerLink]="['/videopage', item.id]">
      <div class="card-header bg-color3 text-white text-center">{{item.materia}}</div>
      <div class="card-body text-center">
        <p>{{item.descricao}}</p>
      </div>
    </a>
</div>
</div>
</div>