.bg-fundo{
  background-color: #f5f5f5;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.bg-color{
  background-color: #53b6df;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.bg-color2{
  background-color: #fe7f1d;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.bg-color3{
  background-color: #ff4055;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div.introduction1 {
  padding: 1em;
  background: #f5f5f5;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div.introduction2 {
  padding: 1em;
  background: #f5f5f5;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div.introduction3 {
  padding: 1em;
  background: #f5f5f5;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

/* Card Based Layout - Base styles */

p.site-title {
  color: #000000;
}

article.col-md-4 col-lg-3 {
  background: #f5f5f5;
  margin-top: 1em;  
  margin-bottom: 2em;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div.card-content {
  background: #f5f5f5;
  padding: 0.5em;
  margin-top: 1em;  
  margin-bottom: 2em;
  box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

div.card-content h3 {
  margin-bottom: 0.5em;
  font-weight: normal;
}

div.card-content p {
  font-size: 95%;
}

img.spectrum1 {
  width: 100%;
  height: auto;
}

div a, a:hover {
  text-decoration: none;
}

div a:hover {
  opacity: 0.8;
}