<div class="introduction mt-4">
  <h2 class="text-center">1º Ano</h2><br>
</div>

<div class="container d-flex justify-contenter-cente">

  <div class="row">

    <!-- .card -->
    <article class="col-md-4 col-lg-3" *ngFor="let item of listaTemas1">
      <!-- .card-content -->
      <div class="card-content">
        <a class="spectrum-a" [routerLink]="['/videopage', item.id]"> <img class="spectrum1"
            src="../../assets/img/Cards/Teaching-amico.png"
            alt="meow">
          <h4 class="spectrum-h2">{{item.materia}}</h4>
          <p>{{item.descricao}}</p>
        </a>
      </div>
      <!-- .card-content -->
    </article>
    <!-- .card -->

  </div>
</div>

<div class="introduction mt-4">
  <h2 class="text-center">2º Ano</h2><br>
</div>

<div class="container">

  <div class="row">

    <!-- .card -->
    <article class="col-md-4 col-lg-3" *ngFor="let item of listaTemas2">
      <!-- .card-content -->
      <div class="card-content " >
        <a class="spectrum-a" [routerLink]="['/videopage', item.id]"> <img class="spectrum1"
            src="../../assets/img/Cards/Online learning-rafiki.png"
            alt="meow">
          <h4 class="spectrum-h2">{{item.materia}}</h4>
          <p>{{item.descricao}}</p>
        </a>
      </div>
      <!-- .card-content -->
    </article>
    <!-- .card -->

  </div>
</div>

<div class="introduction mt-4">
  <h2 class="text-center">3º Ano</h2><br>
</div>

<div class="container">

  <div class="row d-flex">

    <!-- .card -->
    <article class="col-md-4 col-lg-3" *ngFor="let item of listaTemas3">
      <!-- .card-content -->
      <div class="card-content ">
        <a class="spectrum-a" [routerLink]="['/videopage', item.id]"> <img class="spectrum1"
            src="../../assets/img/Cards/Online learning-amico.png"
            alt="meow">
          <h4 class="spectrum-h2">{{item.materia}}</h4>
          <p>{{item.descricao}}</p>
        </a>
      </div>
      <!-- .card-content -->
    </article>
    <!-- .card -->

  </div>
</div>