<div class="container fundo d-flex align-items-center justify-content-center">
    <div class="row w-100 position-relative">
    
            <img class="position-absolute top-50 translate-middle" src="../../assets/img/prof.svg"  alt="" id="profbar">
   
        <div class="col-md-12 ">
            <div class="row w-100 bg-2 d-flex justify-content-end align-items-center" >
                <div class="col-md-6 mb-3 ">
                    <h5>BEM VINDO PROFESSOR</h5>
                    <p>Deseja postar algo novo para os seus alunos?</p>
                    <div>
                        <button class="btn btn-success me-3 mt-3" routerLink='/materias'>Cadastrar novo tema</button>
                        <button class="btn btn-primary mt-3">Adicionar nova aula</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>