<div class="container">

    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">Todas as postagens</h2>
        </div>
    </div>

    <div class="row mt-3 mb-5 d-flex justify-content-center">
        <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-hover text-center align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Tema</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Data e hora</th>
                            <th scope="col">Link do vídeo</th>
                            <th scope="col">Modificações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let postagem of listaPostagens'>
                            <td>{{postagem.titulo}}</td>
                            <td>{{postagem.tema.materia}}</td>
                            <td>{{postagem.descricao}}</td>
                            <td>{{postagem.usuario.nomeCompleto}}</td>
                            <td>{{postagem.data_postagem | date: 'dd/MM/yyyy'}} às {{postagem.data_postagem | date:
                                'HH:mm'}}</td>
                            <td>{{postagem.link_video}}</td>
                            <td class='mb-2'>
                                <button class="btn btn-info m-1" [routerLink]="['/postagem-edit', postagem.id]">Editar</button>
                                <button class="btn btn-danger m-1" [routerLink]="['/postagem-delete', postagem.id]">Apagar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>