    <section class="container" id="about-us">


    <h2 class="d-flex justify-content-center my-5 fonte-titulo fw-bold"> Sobre nós </h2>


    <div class="row text-center fonte-texto">

        <div class="col-md-4">
            <h3> Missão </h3>
            <img width="100%" src="../../assets/img/img-mission.png" class="img-fluid" alt="Imagem missão">
            <p>Promover impacto positivo na educação, em prol da equidade, assegurando um ensino de qualidade à todos, sobretudo alunos de escola pública.
            </p>
        </div>

        <div class="col-md-4">
            <h3> Visão </h3>
            <img width="100%" src="../../assets/img/img-vision.png" class="img-fluid" alt="Imagem visão">
            <p>Consolidar a nossa atuação como entidade referência no segmento de educação, tornando-se autossuficiente com a participação organizada dos estudantes e professores.</p>
        </div>

        <div class="col-md-4">
            <h3> Valores </h3>
            <img width="100%" src="../../assets/img/img-values.png" class="img-fluid" alt="Imagem valores">
            <p>Ética, transparência, inovação e responsabilidade social.</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="../../assets/img/img-estudantes.jpg" class="img-fluid" alt="imagem de adolescentes">
                </div>
            </div>
        </div>
      
    </div>

</section>