<div class="container">
    <hr> 

    <p class="d-flex justify-content-center"> Sobre nós </p>

    <div class="row text-center">

        <div class="col-md-4">
            <p> Missão </p>
            <img width="100%" src="https://as2.ftcdn.net/v2/jpg/03/02/52/33/1000_F_302523366_7Aw3SQBH2Vm5cbAUA3fGBqXfuIQZfw3d.jpg" alt="Imagem Missão">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae laborum provident quaerat accusamus maxime nostrum autem architecto consequatur natus eum molestiae, facilis id quae. Tempora est omnis inventore dignissimos quisquam?</p>
        </div>

        <div class="col-md-4">
            <p> Visão </p>
            <img width="100%" src="https://as2.ftcdn.net/v2/jpg/03/03/74/21/1000_F_303742148_XOZ7XUme5gBHFNklA6zzMDWlLTHrPrQn.jpg" alt="Imagem Visão">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae laborum provident quaerat accusamus maxime nostrum autem architecto consequatur natus eum molestiae, facilis id quae. Tempora est omnis inventore dignissimos quisquam?</p>
        </div>

        <div class="col-md-4">
            <p> Valores </p>
            <img width="100%" src="https://as2.ftcdn.net/v2/jpg/02/88/59/45/1000_F_288594597_nofkBXpkY2p5OzDfBaB3RDz9B4isaQBD.jpg" alt="Imagem Valores">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae laborum provident quaerat accusamus maxime nostrum autem architecto consequatur natus eum molestiae, facilis id quae. Tempora est omnis inventore dignissimos quisquam?</p>
        </div>

        <hr>

        <div>
            <div class="row">
                <div class="col-md-12">
                    <img src="https://as2.ftcdn.net/v2/jpg/04/19/57/63/1000_F_419576394_86n38aPcuITZilKCSu0BUZA2V8KW0ruz.jpg" alt="imagem de adolescentes">
                </div>
            </div>
        </div>

    </div>

</div>