<section class="container" id="about-us">
    <hr> 

    <h2 class="d-flex justify-content-center"> Sobre nós </h2>

    <div class="row text-center">

        <div class="col-md-4">
            <h3> Missão </h3>
            <img width="100%" src="https://as2.ftcdn.net/v2/jpg/03/02/52/33/1000_F_302523366_7Aw3SQBH2Vm5cbAUA3fGBqXfuIQZfw3d.jpg" class="img-fluid" alt="Imagem Missão">
            <p>Gerar o bem na educação dos alunos, em prol da equidade, assegurando um ensino de qualidade a todos, sobretudo alunos de escola pública.</p>
        </div>

        <div class="col-md-4">
            <h3> Visão </h3>
            <img width="100%" src="https://as2.ftcdn.net/v2/jpg/03/03/74/21/1000_F_303742148_XOZ7XUme5gBHFNklA6zzMDWlLTHrPrQn.jpg" class="img-fluid" alt="Imagem Visão">
            <p>Consolidar a nossa atuação como entidade referência no segmento de educação, tornando-se autossuficiente com a participação organizada dos estudantes e professores.</p>
        </div>

        <div class="col-md-4">
            <h3> Valores </h3>
            <img width="100%" src="https://as2.ftcdn.net/v2/jpg/02/88/59/45/1000_F_288594597_nofkBXpkY2p5OzDfBaB3RDz9B4isaQBD.jpg" class="img-fluid" alt="Imagem Valores">
            <p>Ética. Transparência. Inovação. Responsabilidade Social.</p>
        </div>

        <hr>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="https://as2.ftcdn.net/v2/jpg/04/19/57/63/1000_F_419576394_86n38aPcuITZilKCSu0BUZA2V8KW0ruz.jpg" class="img-fluid" alt="imagem de adolescentes">
                </div>
            </div>
        </div>

    </div>

</section>