<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="" width="45px" height="45px" alt="Logo EDQ">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-0 mb-lg-0 d-flex align-items-center">
          <li class="nav-item p-0 me-3">
            <a class="nav-link text-white" href="#">Sobre nós</a>
           </li>
           <li class="nav-item p-0 me-3">
            <a class="nav-link text-white" href="#">Equipe</a>
           </li>
           <li class="nav-item p-0 me-3">
            <a class="nav-link text-white" href="#">Contato</a>
           </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item p-0 me-3">
                <a class="nav-link text-white" href="#">Login</a>
               </li>
               <li class="nav-item p-0">
                <a class="nav-link text-white" href="#">Cadastro</a>
               </li>
        </ul>
      </div>
    </div>
  </nav>