<nav class="navbar navbar-expand-lg navbar-light  sticky-top  bg-white">
    <div class="container-fluid">
      <a class=" ms-3 navbar-brand" href="#home">
        <img src="../../assets/img/EDQfinal.png" class="img-fluid" width="55px" alt="Logo EDQ">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-0 mb-lg-0 d-flex align-items-center ">
          <li class="nav-item p-0 me-3">
            <a class="nav-link fonte-texto " href="#about-us">Sobre nós</a>
           </li>
           <li class="nav-item p-0 me-3">
            <a class="nav-link fonte-texto " href="#team">Equipe</a>
           </li>
           <li class="nav-item p-0 me-3">
            <a class="nav-link fonte-texto" href="#contato">Contato</a>
           </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item p-0 me-3">
                <a class="nav-link fonte-texto" routerLink='/login'>Entrar</a>
               </li>
               <li class="nav-item p-0 me-3">
                <a class="nav-link btn btn-outline-primary fonte-texto px-2"  routerLink='/signin'>Cadastrar</a>
               </li>
        </ul>
      </div>
    </div>
  </nav>