<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#home">
        <img src="../../assets/img/logo1.png" class="img-fluid" width="45px" alt="Logo EDQ">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-0 mb-lg-0 d-flex align-items-center">
          <li class="nav-item p-0 me-3">
            <a class="nav-link text-white" href="#about-us">Sobre nós</a>
           </li>
           <li class="nav-item p-0 me-3">
            <a class="nav-link text-white" href="#team">Equipe</a>
           </li>
           <li class="nav-item p-0 me-3">
            <a class="nav-link text-white" href="#contato">Contato</a>
           </li>
        </ul>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <li class="nav-item p-0 me-3">
                <a class="nav-link text-white" routerLink='/login'>Entrar</a>
               </li>
               <li class="nav-item p-0">
                <a class="nav-link text-white"  routerLink='/signin'>Cadastrar</a>
               </li>
        </ul>
      </div>
    </div>
  </nav>