<div class="container mb-5 mt-5">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-sencondary">Editar perfil</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-10">

      <div class="form-group">
        <label for="nome">Nome e sobrenome</label>
        <input [(ngModel)]='user.nomeCompleto' class="form-control mt-1 mb-3" type="text" name="nome" id="nome"
          placeholder="Insira o seu nome" />
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input [(ngModel)]='user.email' class="form-control mt-1 mb-3" type="text" name="email" id="email"
          placeholder="Insira o seu e-mail" />
      </div>

      <div class="form-group">
        <label for="foto">Link da foto</label>
        <input [(ngModel)]='user.foto' class="form-control mt-1 mb-3" type="text" name="foto" id="foto"
          placeholder="Insira o link da sua foto"/>
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input (input)='confirmSenha($event)' class="form-control mt-1 mb-3" type="password" name="senha" id="senha"
          placeholder="Insira sua senha" />
      </div>

      <div class="form-group">
        <label for="confirmSenha">Confirmar senha</label>
        <input [(ngModel)]='user.senha' class="form-control mt-1 mb-3" type="password" name="confirmSenha"
          id="confirmSenha" placeholder="Confirme sua senha" />
      </div>

      <div class="form-group ">
        <label for="tipo">Tipo de usuário</label>
        <select (change)='tipoUser($event)' class="form-select mt-1 mb-3" name="tipo" id="tipo">
          <option>Selecione um tipo de usuário</option>
          <option value="aluno">Aluno</option>
          <option value="adm">Administrador</option>
        </select>
      </div>

      <div class="d-flex justify-content-center mt-3 align-items-center">
        <button type="submit" class="btn btn-danger me-4" routerLink='/plataforma'>Cancelar</button>
        <button (click)='atualizar()' type="submit" class="btn btn-success">Atualizar</button>
      </div>

    </div>
  </div>

</div>