<div class="container">

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">

      <h1 class="text-center mb-3 mt-3">Login</h1>

      <div class="form-group mt-3">
        <label for="email">E-mail:</label>
        <input [(ngModel)]= 'userLogin.email' class="form-control" type="text" name="email" id="email"
        placeholder="Seu email">
      </div>

      <div class="form-group mt-3">
        <label for="Senha">Senha:</label>
        <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="Senha" id="Senha"
        placeholder="Sua Senha" >
      </div>

      <div class="d-flex justify-content-center mt-3">
        <button (click)='entrar()' type="button" class="btn btn-outline-secondary me-3">Entrar</button>
        <button type="button" class="btn btn-outline-secondary" routerLink="/homepage">Voltar</button>

      </div>

      <hr class="mt-5 mb-5">

      <p class="text-center">
        Não tem uma Conta? <a routerLink='/signin'> Cadastre-se Aqui!</a>
      </p>
      

    </div>

  </div>
    
</div>