<div class="container mt-5 " id="contato">
    <div class="row d-flex align-items-center fonte-titulo">
        <div class="col-md-6">
            <h5 class="text-center">Entre em contato com a gente!</h5>
            <div class='form-group mt-3 mb-3 borda-redonda px-4 py-2' >
                             
                <label class=""  for="email">E-mail</label>
                <input type="text" name="email" id="email" class="form-control mt-1" placeholder="Digite o seu email">
            
            
        <!--         <label class="mt-3"  for="assunto">Assunto</label>
                <input type="text" name="assunto" id="assunto" class="form-control" placeholder="Insira o assunto">
             -->
                <label class="mt-3"  for="conteudo">Mensagem</label>
                <textarea class="form-control mt-1" name="conteudo" id="conteudo" cols="30" rows="4" placeholder="Insira aqui sua mensagem para nós, responderemos o mais rápido possível!"></textarea>
            
                <div class="mt-3">
                    <button type="button me-3" class="btn btn-outline-primary fonte-titulo">Enviar</button>
                </div>
             </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/img/contato.svg" alt="" class="img-fluid">
        </div>
    </div>
</div>
