<nav class="navbar navbar-expand-lg navbar-light bg-secondary sticky-top">

    <div>
        <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#sidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-0 mb-lg-0 d-flex align-items-center">
                <li>
                    <a class="navbar-brand" href="#home">
                        <img src="https://logospng.org/download/spotify/logo-spotify-512.png" width="60px" height="60px"
                            alt="Logo EDQ">
                    </a>
                </li>
                <li class="nav-item p-0 me-3">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Digite uma palavra"
                            aria-label="Search">
                        <button class="btn btn-primary" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item">
                    <img src="https://e7.pngegg.com/pngimages/433/699/png-clipart-delta-computers-rentals-computer-icons-user-icon-entrepreneurship-head-desktop-wallpaper.png"
                        alt="Foto de perfil" width="40px" height="40px" class="rounded-circle">
                </li>
                <li class="nav-item me-5">
                    <p class="m-0 ps-3 font-weight-bold text-white fs-16">Olá, usuário</p>
                </li>
                <li class="nav-item p-0">
                    <a href="http://www.facebook.com">
                        <button type="submit" class="btn btn-outline-danger">Log out
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-box-arrow-right ms-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                <path fill-rule="evenodd"
                                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- 
<div class="modal-sm modal fade left" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MENU</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">HOME</li>
            <li class="list-group-item">DOCUMENTOS</li>
            <li class="list-group-item">APLICATIVO</li>
            <li class="list-group-item">CONTATOS</li>
            <li class="list-group-item">SOBRE</li>
        </ul>
    </div>

    <div class="modal-footer-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div> -->