<nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top">

    <!-- BOTÃO SIDEBAR E LOGO -->
    <div>
        <button class="btn ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample"><span class="navbar-toggler-icon"></span></button>
    </div>
    <div>
        <span><a class="navbar-brand m-3" href="#home"><img src="../../assets/img/logo1.png" width="45px" alt="Logo EDQ"></a></span>
    </div>

    <!-- SIDEBAR -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel"><a class="navbar-brand" href="#home">
                    <img src="../../assets/img/logo1.png" width="60px" alt="Logo EDQ">
                </a></h5>
            <button type="button" class="btn-close btn-danger text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                A plataforma que iguala seu conhecimento.
            </div>
            <div class="dropdown mt-3 text-center">
                <button class="btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown">Matérias
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="#">Português</a></li>
                    <li><a class="dropdown-item" href="#">Matemática</a></li>
                    <li><a class="dropdown-item" href="#">Física</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-0 mb-lg-0 d-flex align-items-center">
                <li class="nav-item p-0 me-3">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Busca..." aria-label="Search">
                        <button class="btn btn-outline-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg"
                                width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item">
                    <img src="https://e7.pngegg.com/pngimages/433/699/png-clipart-delta-computers-rentals-computer-icons-user-icon-entrepreneurship-head-desktop-wallpaper.png"
                        alt="Foto de perfil" width="40px" height="40px" class="rounded-circle">
                </li>
                <li class="nav-item me-5">
                    <p class="m-0 ps-3 font-weight-bold text-white fs-16">Olá, usuário</p>
                </li>
                <li class="nav-item p-0">
                    <a href="http://www.facebook.com">
                        <button type="submit" class="btn btn-outline-light">Log out
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-box-arrow-right ms-1" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                <path fill-rule="evenodd"
                                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>