<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

    <!-- BOTÃO SIDEBAR E LOGO -->
    <div>
        <button class="btn ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample"><span class="navbar-toggler-icon"></span></button>
    </div>

    <div>
        <span><a class="navbar-brand m-3" href="#home"><img src="../../assets/img/logo1.png" width="45px"
                    alt="Logo EDQ"></a></span>
    </div>


    <!-- PESQUISA -->
    <ul class="navbar-nav me-auto mb-0 mb-lg-0 d-flex align-items-center">
        <li class="nav-item p-0 me-3">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Busca..." aria-label="Search">
                <button class="btn btn-outline-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></button>
            </form>
        </li>
    </ul>

    <!-- FOTO USUÁRIO -->
    <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item">
            <img src="https://image.flaticon.com/icons/png/512/17/17004.png" alt="Foto de perfil" width="50px" height="50px" class="rounded-circle">
        </li>
        <li class="nav-item me-5">
            <p class="m-0 ps-3 font-weight-bold text-white fs-16">Olá, usuário</p>
        </li>
        <li class="nav-item p-0">
            <a href="http://www.facebook.com">
                <button type="submit" class="btn btn-outline-light me-4">Log out
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-box-arrow-right ms-1" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                        <path fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                    </svg>
                </button>
            </a>
        </li>
    </ul>
</nav>

<!-- SIDEBAR -->
<div class="container ms-1">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

        <!-- SIDEBAR HEADER-->
        <div class="offcanvas-header bg-secondary text-white">
            <h6 class="offcanvas-title ms-2 text-center" id="offcanvasExampleLabel"><a class="navbar-brand"
                    href="#home"><img src="../../assets/img/logo1.png" width="60px" alt="Logo EDQ"></a><br>A plataforma
                que iguala seu conhecimento</h6> <button type="button mb-5" class="btn-close btn-danger text-reset"
                data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <!-- SIDEBAR BODY-->
        <div class="offcanvas-body text-center">

            <!-- <div class="dropdown mt-3 text-center">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <h5>Dropdown</h5>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div> -->

            <a class="text-reset mt-0 mb-3" href="">
                <h5>Matérias</h5>
            </a>
            <hr>

            <a class="text-reset mb-3" href="">
                <h5>Contato</h5>
            </a>
            <hr>

            <a class="text-reset mb-3" href="">
                <h5>Professores</h5>
            </a>
            <hr>

        </div>

        <!-- SIDEBAR FOOTER -->
        <div class="offcanvas-footer bg-secondary text-white text-center">
            <div class="col-md-12">
                <h6 class="text-uppercase mt-2">Contato</h6>
                <p>EDQ.contato@gmail.com</p>
                <p>+55 11 12345-6789</p>

                <a href="https://github.com/JuRibeiro/EDQ-Angular" class="ms-2 text-reset" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-github" viewBox="0 0 16 16">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </a>
            </div>
            <div class="text-center p-4">
                © 2021 Todos os direitos reservados:
                <a class="text-reset fw-bold" href="...">eduquidade.com.br</a>
            </div>
        </div>

    </div>
</div>