<div class="container-fluid">

    <div class="row">
        <div class="col-md-8">
            <h2 class="mb-3 mt-5">Aula: {{titulo}}</h2>
        </div>
    </div>


    <div class="row">

        <!-- VIDEO E DESCRIÇÃO -->
        <div class="col-md-8">
            <div class="ratio ratio-16x9">
                <iframe [src]="urlSafe"></iframe>
            </div>
            <br>
            <div>
                <h5>Descrição:</h5>
                <p>{{descricao}}</p>
            </div>
        </div>
        <!-- /VIDEO E DESCRIÇÃO -->

        <!-- PLAYLIST -->
        <div class="col-md-4">
            <nav class="navbar navbar-light px-3 text-dark bg-cinza">
                <ul class="nav nav-pills d-flex align-items-center">
                    <li class="nav-item">
                        <p class="m-0 font-weight-bold fs-16">Matéria: {{tema.materia}}</p>
                    </li>
                </ul>

                <ul class="nav nav-pills d-flex align-items-center">
                    <li *ngIf='ano1()' class="nav-item text-white bg-azul">
                        <p class="m-0 p-1 font-weight-bold fs-16">{{tema.anoConteudo}}</p>
                    </li>
                    <li *ngIf='ano2()' class="nav-item text-white bg-laranja">
                        <p class="m-0 p-1 font-weight-bold fs-16">{{tema.anoConteudo}}</p>
                    </li>
                    <li *ngIf='ano3()' class="nav-item text-white bg-vermelho">
                        <p class="m-0 p-1 font-weight-bold fs-16">{{tema.anoConteudo}}</p>
                    </li>
                </ul>
            </nav>

            <div class="list-group" *ngFor="let video of tema.postagem">
                <a class="list-group-item list-group-item" aria-current="true"
                    (click)='trocarAula(video.link_video, video.titulo, video.descricao, video.id, video)'><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-play-circle me-2" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
                    </svg>⠀{{video.titulo}}
                </a>

            </div>
        </div>
        <!-- /PLAYLIST -->

    </div>

    <!-- COMENTÁRIOS -->
    <div class="row mt-5">
        <div class="col-md-8">
            <div class="card rounded-12" style="background-color: #e5e5e5;">
                <div [attr.id]="'comentarioPostagem' + idPostagem">

                    <!--<div class="mt-2" id="headingTwo">
                        <h5 class="mb-0">
                            <button (click)='findAllComentarios()' class="btn btn-link collapsed text-dark" type="button" data-bs-toggle="collapse"
                                [attr.data-bs-target]="'#' + 'comentButtonPostagemId' + idPostagem" aria-expanded="false"
                                aria-controls="collapseTwo">
                                <p class="text-primary font-weight-bold mb-2">
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i> Comentar
                                </p>
                            </button>
                        </h5>
                    </div> -->

                    <div [attr.id]="'comentButtonPostagemId' + idPostagem" aria-labelledby="headingTwo"
                        [attr.data-parent]="'#' + 'comentarioPostagem' + idPostagem">

                        <div class="row mb-3">
                            <div class="col d-flex justify-content-center align-items-center p-4">
                                <img class="rounded-circle me-3" src={{fotoUserLogado}} width="40px" height="40px" />
                                <div class="input-group w-100">
                                    <input type="text" class="form-control me-3"
                                        placeholder="Digite aqui seu comentário" aria-label="Recipient's username"
                                        aria-describedby="button-addon2" [(ngModel)]='comentario.comentario'
                                        id='inputComentario'>
                                    <div class="input-group-append">
                                        <button class="btn btn-light" (click)='comentar(idPostagem)'
                                            id="button-addon2">Comentar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center" *ngFor='let coment of postagem.comentario'>
                            <div class="col-md-11 mb-2 mx-2">
                                <div class="card mb-3 shadow border-0 rounded">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col d-flex justify-content-start">
                                                <p> <img class=rounded-circle src={{coment.usuario.foto}} width="30px"
                                                        height="30px" />
                                                    {{coment.usuario.nomeCompleto}} comentou: </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="card-text ml-4" aria-describedby="texto">
                                                    {{coment.comentario}}
                                                </p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="d-flex justify-content-end">
                                            <small id="texto" class="form-text m-0 text-muted text-monospace">
                                                Comentado em {{ coment.data | date:'dd/MM/yyyy'}} às {{coment.data |
                                                date:'HH:mm'}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <!-- /COMENTÁRIOS -->

</div>