<div class="container-fluid">

    <div class="row">
        <div class="col-md-8">
            <h2 class="mb-3 mt-5">Aula: {{titulo}}</h2>
    </div>

    <div class="row d-flex">

        <div class="col-md-8">
            <div class="ratio ratio-16x9">
                <iframe [src]="urlSafe"></iframe>
            </div>
            <br>
            <div>
                <h5>Descrição:</h5>
                <p>{{descricao}}</p>
            </div>
        </div>

        <div class="col-md-4">
            <nav class="navbar navbar-light bg-dark px-3 ">
                <ul class="nav nav-pills d-flex align-items-center">
                    <li class="nav-item">
                      <p class="text-white">Aula: {{tema.materia}}</p>
                    </li>
                  </ul>
            </nav>
            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">

                <!-- <h4 id="scrollspyHeading1">First heading</h4>
                <p>...</p>
                <h4 id="scrollspyHeading2">Second heading</h4>
                <p>...</p>
                <h4 id="scrollspyHeading3">Third heading</h4>
                <p>...</p>
                <h4 id="scrollspyHeading4">Fourth heading</h4>
                <p>...</p>
                <h4 id="scrollspyHeading5">Fifth heading</h4>
                <p>...</p> -->
            
            <div class="list-group" *ngFor="let videos of tema.postagem">
                <a class="list-group-item list-group-item-action " aria-current="true" (click)='trocarAula(videos.link_video, videos.titulo, videos.descricao)'>{{videos.titulo}}
                </a>
            </div>

        </div>

    </div>

    
    
</div>