/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
}

.bg-azul{
    background-color: #53b6df;
}
.bg-vermelho{
    background-color: #ff4055;
}
.bg-laranja{
    background-color: #fe7f1d;
}