/* You can add global styles to this file, and also import other style files */
html{
    scroll-behavior: smooth;
}

.bg-azul{
    background-color: #53b6df;
}
.bg-vermelho{
    background-color: #ff4055;
}
.bg-laranja{
    background-color: #fe7f1d;
}
.tela-cheia{
    height: 100vh;
}
.fs-principal{
    font-size: 3em;
}

.bg-navbar{
    background-color: #ff766e;
    /* 
    #ff6e7e  rosa
    #ff766e salmao
    #ff9e53 laranja
    #53b6df azul*/
}
.bg-cinza{
    background-color: #e5e5e5;
}
/* .btn-primary{
    background-color: #53b6df !important;
} */
.btn-danger{
    background-color: #ff4055 !important;
}
.btn-secondary{
    background-color: #ff766e !important;
    color: white !important;
    border-color: #ff766e !important;
}