<div class="container" id="team">
  <h2 id="..." class="container text-center mt-5 mb-5 fonte-geral">Equipe de Desenvolvimento</h2>


  <div class="container-fluid">
    <div class="row d-flex align-items-start">
      <div class="col-md-4">
        <h3 class="text-center fazul fw-bold mt-4">Alexsander Sousa</h3>
        <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
          src="../../assets/img/foto_alex.jpeg" alt="icone usuario">
          <p class="text-center ">25 anos, formando em Engenharia Mecânica.</p>
          <p class="text-center fonte-texto">"O que sabemos é uma gota; o que ignoramos é um oceano. Mas o que seria o oceano se não infinitas gotas?"
            - Isaac Newton</p>
            <div class="text-center fw-bold">Desenvolvedor Full-stack</div>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/alexsanderss/"
                  target="_blank"> 
                  <img src="../../assets/img/logo_linkedin.png" 
                  alt="Ícone Linkedin" height="30px" width="30px"></a>
                  <a
                  href="https://github.com/samssousa" 
                  target="_blank">
                  <img src="../../assets/img/logo_git.png"
                  alt="Ícone gitHub" height="30px" width="30px"></a>
            </div>
        </div>

      <div class="col-md-4">
        <h3 class="text-center fazul fw-bold mt-4">Andára Finot</h3>
        <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
          src="../../assets/img/foto_andara.jpeg" alt="icone usuario">
          <p class="text-center ">30 anos, formada em PP e Logística, em transição de carreira.</p>
          <p class="text-center fonte-texto">"Feliz aquele que transfere o que sabe e aprende o que ensina." 
            -Cora Coralina</p>
            <div class="text-center fw-bold">Desenvolvedora Full-stack</div>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/and%C3%A1rafinot/"
                  target="_blank"> 
                  <img src="../../assets/img/logo_linkedin.png" 
                  alt="Ícone Linkedin" height="30px" width="30px"></a>
                  <a
                  href="https://github.com/adrfnt" 
                  target="_blank">
                  <img src="../../assets/img/logo_git.png"
                  alt="Ícone gitHub" height="30px" width="30px"></a>
            </div>
        </div>
            

      <div class="col-md-4">
        <h3 class="text-center fazul fw-bold mt-4">Juliana Ribeiro</h3>
        <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
          src="../../assets/img/foto_ju.jpeg" alt="icone usuario">
          <p class="text-center ">22 anos, graduanda em Sistemas da Informação.</p>
          <p class="text-center fonte-texto">"O Sucesso é a soma de pequenos esforços repetidos dia após dia."
          -Robert Collier.</p>
          <div class="text-center fw-bold">Desenvolvedora Full-stack</div>
          <div class="d-flex justify-content-center">
              <a href="https://www.linkedin.com/in/juliana-ribeiro-b71316153/
                " target="_blank">
                <img src="../../assets/img/logo_linkedin.png" alt="Ícone Linkedin" height="30px" width="30px"></a>
                <a
                href="https://github.com/JuRibeiro" target="_blank">
                <img src="../../assets/img/logo_git.png" alt="Ícone gitHub" height="30px" width="30px"></a>
          </div>
      </div>
    </div>

<!-- <div class="clearfix"> -->

    <div class="row d-flex align-items-center">
      <div class="col-md-4">
        <h3 class="text-center fazul fw-bold mt-4">Lorrans Facca</h3>
        <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
          src="../../assets/img/foto_lorrans.jpeg" alt="icone usuario">
          <p class="text-center ">31 anos, cursando Análise e Desenvolvimento de Sistemas.</p>
          <p class="text-center fonte-texto">"As pessoas com deficiência não precisam de caridade, precisam de dignidade"
            -Hisaac Oliveira"</p>
            <div class="text-center fw-bold">Desenvolvedor Full-stack</div>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/lorrans-facca-47631773/"
                  target="_blank"> 
                  <img src="../../assets/img/logo_linkedin.png" 
                  alt="Ícone Linkedin" height="30px" width="30px"></a>
                  <a
                  href="https://github.com/lorransfacca" 
                  target="_blank">
                  <img src="../../assets/img/logo_git.png"
                  alt="Ícone gitHub" height="30px" width="30px"></a>
            </div>
        </div>
        
        
        <div class="col-md-4">
          <h3 class="text-center fazul fw-bold mt-4">Matheus Barbosa</h3>  
          <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
            src="../../assets/img/foto_matheus.jpeg" alt="icone usuario">
            <p class="text-center ">22 anos, formando em Engenharia Civil.</p>
            <p class="text-center fonte-texto">"Não espere o futuro mudar sua vida. Porque o futuro será a consequência do presente"
            - Racionais Mc's</p>            
            <div class="text-center fw-bold">Desenvolvedor Full-stack</div>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/matheus-barbosa-baa680163/"
                  target="_blank"> 
                  <img src="../../assets/img/logo_linkedin.png" 
                  alt="Ícone Linkedin" height="30px" width="30px"></a>
                <a
                  href="https://github.com/Matheus094-tech" 
                  target="_blank">
                  <img src="../../assets/img/logo_git.png"
                  alt="Ícone gitHub" height="30px" width="30px"></a>
            </div>
        </div>

        <div class="col-md-4">
          <h3 class="text-center fazul fw-bold mt-4">Renato Nakamura</h3>  
          <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
            src="../../assets/img/foto_renato.jpeg" alt="icone usuario">
            <p class="text-center ">22 anos, formando em Química pela USP.</p>
            <p class="text-center fonte-texto">"Aprender é um processo para toda a vida"
              -Peter Drucker</p>            
            <div class="text-center fw-bold">Desenvolvedor Full-stack</div>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/renato-nakamura/"
                  target="_blank"> 
                  <img src="../../assets/img/logo_linkedin.png" 
                  alt="Ícone Linkedin" height="30px" width="30px"></a>
                <a
                  href="https://github.com/Renato-Nakamura" 
                  target="_blank">
                  <img src="../../assets/img/logo_git.png"
                  alt="Ícone gitHub" height="30px" width="30px"></a>
          </div>
        </div>               
      </div>     
    </div>
  </div> 

