<div class="container mt-5" id="team">
  <h2 id="..." class="container text-center mt-5 mb-5 fonte-titulo fw-bold">Equipe de Desenvolvimento</h2>

  <div class="container-fluid">
    <div class="row d-flex align-items-start">
      <div class="col-md-4">
        <h3 class="text-center fazul fw-bold mt-4 fonte-titulo">Alexsander Sousa</h3>
        <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
          src="../../assets/img/foto_alex.jpeg" alt="icone usuario">
          <p class="text-center fonte-texto">25 anos, formando em Engenharia Mecânica.</p>
          <p class="text-center fonte-t">Motivado pelo desejo de fazer o bem, pretendo um dia mudar a vida das pessoas através da tecnologia.</p>
            <div class="text-center fonte-texto">Desenvolvedor Full-stack</div>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/alexsanderss/"
                  target="_blank"> 
                  <img src="../../assets/img/logo_linkedin.png" 
                  alt="Ícone Linkedin" height="30px" width="30px"></a>
                  <a
                  href="https://github.com/samssousa" 
                  target="_blank">
                  <img src="../../assets/img/logo_git.png"
                  alt="Ícone gitHub" height="30px" width="30px"></a>
            </div>
        </div>

      <div class="col-md-4">
        <h3 class="text-center fazul fw-bold mt-4 fonte-titulo">Andára Finot</h3>
        <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
          src="../../assets/img/foto_andara.jpeg" alt="icone usuario">
          <p class="text-center fonte-texto">30 anos, formada em PP e Logística.</p>
          <p class="text-center fonte-t"> Inspirada por mulheres que transformam vidas através da tecnologia, quero fazer parte desse movimento!</p>
            <div class="text-center fonte-texto">Desenvolvedora Full-stack</div>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/and%C3%A1rafinot/"
                  target="_blank"> 
                  <img src="../../assets/img/logo_linkedin.png" 
                  alt="Ícone Linkedin" height="30px" width="30px"></a>
                  <a
                  href="https://github.com/adrfnt" 
                  target="_blank">
                  <img src="../../assets/img/logo_git.png"
                  alt="Ícone gitHub" height="30px" width="30px"></a>
            </div>
        </div>
            
      <div class="col-md-4">
        <h3 class="text-center fazul fw-bold mt-4 fonte-titulo">Juliana Ribeiro</h3>
        <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
          src="../../assets/img/foto_ju.jpeg" alt="icone usuario">
          <p class="text-center fonte-texto ">22 anos, graduanda em Sistemas da Informação.</p>
          <p class="text-center fonte-t">Filha. Mãe. Esposa. Desenvolvedora Web Java Junior. Mulher Maravilha.</p>
          <div class="text-center fonte-texto">Desenvolvedora Full-stack</div>
          <div class="d-flex justify-content-center mb-4">
              <a href="https://www.linkedin.com/in/juliana-ribeiro-b71316153/
                " target="_blank">
                <img src="../../assets/img/logo_linkedin.png" alt="Ícone Linkedin" height="30px" width="30px"></a>
                <a
                href="https://github.com/JuRibeiro" target="_blank">
                <img src="../../assets/img/logo_git.png" alt="Ícone gitHub" height="30px" width="30px"></a>
          </div>
      </div>
    </div>

    <div class="row d-flex align-items-center">
      <div class="col-md-4">
        <h3 class="text-center fazul fw-bold mt-4 fonte-titulo">Lorrans Facca</h3>
        <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
          src="../../assets/img/foto_lorrans.jpeg" alt="icone usuario">
          <p class="text-center fonte-texto ">31 anos, cursando ADS.</p>
          <p class="text-center fonte-t">Eu sou observador, inspiração é o meu cotidiano para conquistar os meus objetivos futuros.</p>
            <div class="text-center fonte-texto">Desenvolvedor Full-stack</div>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/lorrans-facca-47631773/"
                  target="_blank"> 
                  <img src="../../assets/img/logo_linkedin.png" 
                  alt="Ícone Linkedin" height="30px" width="30px"></a>
                  <a
                  href="https://github.com/lorransfacca" 
                  target="_blank">
                  <img src="../../assets/img/logo_git.png"
                  alt="Ícone gitHub" height="30px" width="30px"></a>
            </div>
        </div>
        
        
        <div class="col-md-4">
          <h3 class="text-center fazul fw-bold mt-4 fonte-titulo">Matheus Barbosa</h3>  
          <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
            src="../../assets/img/foto_matheus.jpeg" alt="icone usuario">
            <p class="text-center fonte-texto ">22 anos, formando em Engenharia Civil.</p>
            <p class="text-center fonte-t">Estou faminto pela área tecnológica e nada é mais inspirador que a fome.</p>            
            <div class="text-center fonte-texto">Desenvolvedor Full-stack</div>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/matheus-barbosa-baa680163/"
                  target="_blank"> 
                  <img src="../../assets/img/logo_linkedin.png" 
                  alt="Ícone Linkedin" height="30px" width="30px"></a>
                <a
                  href="https://github.com/Matheus094-tech" 
                  target="_blank">
                  <img src="../../assets/img/logo_git.png"
                  alt="Ícone gitHub" height="30px" width="30px"></a>
            </div>
        </div>

        <div class="col-md-4">
          <h3 class="text-center fazul fw-bold mt-4 fonte-titulo">Renato Nakamura</h3>  
          <img class="img-fluid rounded-circle mx-auto d-block mt-4 mb-4 sombra" height="auto" width="50%"
            src="../../assets/img/foto_renato.jpeg" alt="icone usuario">
            <p class="text-center fonte-texto ">22 anos, formando em Química pela USP.</p>
            <p class="text-center fonte-t">Sempre fui apaixonado por tecnologia e agora o meu hobby está se tornando minha profissão!</p>      
            <div class="text-center fonte-texto">Desenvolvedor Full-stack</div>
            <div class="d-flex justify-content-center">
                <a href="https://www.linkedin.com/in/renato-nakamura/"
                  target="_blank"> 
                  <img src="../../assets/img/logo_linkedin.png" 
                  alt="Ícone Linkedin" height="30px" width="30px"></a>
                <a
                  href="https://github.com/Renato-Nakamura" 
                  target="_blank">
                  <img src="../../assets/img/logo_git.png"
                  alt="Ícone gitHub" height="30px" width="30px"></a>
          </div>                   
      </div>     
    </div>
  </div> 