<div class="container-fluid" id="team">
    <h2 id="..." class="container text-center mb-5">Equipe</h2>
    

    <div class="container">
        <div class="row align-items-start">
          <div class="col-md-4">
            <h3 class="text-center">Alex</h3>
            
            <img class="rounded mx-auto d-block mt-4 mb-4" height="auto" width="50%" src="https://image.flaticon.com/icons/png/512/1053/1053244.png" alt="icone usuario">
           
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum numquam earum ipsa excepturi maxime odio similique at illo, quidem maiores exercitationem molestiae consequuntur. Ullam ex odit reiciendis iste eveniet dolorem.</p>
          </div>
         

          <div class="col-md-4">
            <h3 class="text-center">Andára</h3>
           
            <img class="rounded mx-auto d-block mt-4 mb-4" height="auto" width="50%" src="https://image.flaticon.com/icons/png/512/1053/1053244.png" alt="icone usuario">
            
            <p class="text-center"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum numquam earum ipsa excepturi maxime odio similique at illo, quidem maiores exercitationem molestiae consequuntur. Ullam ex odit reiciendis iste eveniet dolorem.</p>
          </div>

          <div class="col-md-4">
            <h3 class="text-center">Juliana</h3>
            
            <img class="rounded mx-auto d-block mt-4 mb-4" height="auto" width="50%" src="https://image.flaticon.com/icons/png/512/1053/1053244.png" alt="icone usuario">
           
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum numquam earum ipsa excepturi maxime odio similique at illo, quidem maiores exercitationem molestiae consequuntur. Ullam ex odit reiciendis iste eveniet dolorem.</p>
          </div>
        </div>
        <p class="mb-5"></p>
        <div class="row align-items-center">
          <div class="col-md-4">
            <h3 class="text-center">Lorrans</h3>
            
            <img class="rounded mx-auto d-block mt-4 mb-4" height="auto" width="50%" src="https://image.flaticon.com/icons/png/512/1053/1053244.png" alt="icone usuario">
            
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum numquam earum ipsa excepturi maxime odio similique at illo, quidem maiores exercitationem molestiae consequuntur. Ullam ex odit reiciendis iste eveniet dolorem.</p>
          </div>
          <div class="col-md-4">
            <h3 class="text-center">Matheus</h3>
           
            <img class="rounded mx-auto d-block mt-4 mb-4" height="auto" width="50%" src="https://image.flaticon.com/icons/png/512/1053/1053244.png" alt="icone usuario">
            
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum numquam earum ipsa excepturi maxime odio similique at illo, quidem maiores exercitationem molestiae consequuntur. Ullam ex odit reiciendis iste eveniet dolorem.</p>
          </div>
          <div class="col-md-4">
            <h3 class="text-center">Renato</h3>
           
            <img class="rounded mx-auto d-block mt-4 mb-4" height="auto" width="50%" src="https://image.flaticon.com/icons/png/512/1053/1053244.png" alt="icone usuario">
           
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum numquam earum ipsa excepturi maxime odio similique at illo, quidem maiores exercitationem molestiae consequuntur. Ullam ex odit reiciendis iste eveniet dolorem.</p>
          </div>
        </div>
      </div>
    </div>
