<div class="container" id="home">
    <div class="row d-flex align-items-center tela-cheia">

        <div class="col-md-6 ml-5 ">
            <!-- <h1 class="mb-3">EDQ</h1> -->
            <div class="row">
                <div class="col-md-9">
                    <img src="../../assets/img/EDQfinal.png" alt="Logo do projeto" class="img-fluid">
                </div>
            </div>
            <h2 class="my-3 fonte-titulo"> A plataforma que iguala o seu conhecimento.</h2>
          
            <div class="row d-flex align-items-center ">
                <div class="col-md-6 my-3">
                    <button type="button" class="btn btn-primary button-wide fonte-texto" routerLink='/signin'>Comece agora</button>
                </div>

            </div>
        </div>

        <div class="col-md-6 mr-5">
            <img src="../../assets/img/img-homepage3.png" alt="jovens estudando e se divertindo" class="img-fluid">
        </div>
       
    </div>
</div>